attrs==22.2.0
bandit==1.7.5
black==23.1.0
dlint==0.12.0
flake8==4.0.1
flake8-bandit==2.1.2
flake8-bugbear==23.2.13
hypothesis==6.68.2
invoke==2.0.0
placebo==0.10.0
pre-commit==2.20.0
pylint==2.17.7
pytest==7.2.2
pytest-black==0.3.12
pytest-cov==4.0.0
pytest-datadir==1.4.1
pytest-mock==3.10.0
pytest-pylint==0.18.0
