# https://github.com/HypothesisWorks/hypothesis/issues/2113 
attrs>=19.2.0
black==19.3b0
flake8==3.7.8
flake8-bugbear==19.8.0
hypothesis==4.42.0
placebo==0.9.0
pre-commit==1.18.3
pylint==2.4.3
pytest==5.2.2
pytest-cov==2.8.1
pytest-flake8==1.0.4
pytest-pylint==0.14.1
zest.releaser==6.19.1
